@import "./../../rtl-support";

.year-indicator {
  height: 100%;

  .year-indicator-select {
    @include margin-right(2.5vw);
    @include margin-left(0.5vw);
    color: $cool-gray;
    background-color: $white;
    width: 16vw;
    height: 40px;
    @include padding-left(20px);
    @include padding-right(20px);
    border: $table-border;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: url("/static/img/arrowDown.svg") no-repeat;
    background-position-y: 50%;
    background-size: 15px;
  }
  .ltr {
    background-position-x: 95%;
  }
  .rtl {
    background-position-x: 5%;
  }
  .width {
    width: 12vw;
  }
}

/* IE11 hide native button */
select::-ms-expand {
  display: none;
}

@media (max-width: $mobile-width) {
  .year-indicator {
    .width {
      width: 100%;
    }
  }
}
