@import "./../../rtl-support";

.year-indicator {
  height: 100%;

  .year-indicator-select {
    @include margin-right(2.5vw);
    @include margin-left(0.5vw);
    color: $cool-gray;
    background-color: $white;
    width: 16vw;
    height: 40px;
    @include padding-left(20px);
    @include padding-right(20px);
    border: $table-border;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: url("/static/img/arrowDown.svg") no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    background-size: 15px;
  }

  .header-bold {
    font-size: 1em;
    font-family: "InterBold", sans-serif;
    line-height: 1;
    margin-bottom: 10px;
  }

  .sub-header {
    font-size: 13px;
  }
}

/* IE11 hide native button */
select::-ms-expand {
  display: none;
}
