@import "./../../rtl-support";

.indicator-panel {
  background: white;
  position: absolute;
  top:3px;
  width: 350px;
  @extend .box-shadow, .copy;
  border-radius: 5px;
  z-index: 2;
  height: calc(100vh - 170px);
  overflow-y: hidden;
  overflow-x: hidden;
  &-error {
    text-transform: capitalize;
    @extend .copy;
    color: $negative;
    margin-top: 10px;
    text-align: left;
  }

  &-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: calc(100% - 90px);
    padding: 15px 15px;
    overflow-y: auto;
    &-expand-btn {
      cursor: pointer;
      font-size: 35px;
      color: #666666;
    }

    &-name {
      position: relative;
      text-transform: none;
      width: 100%;
      @extend .header-bold;

      [dir=rtl] & {
        font-weight: bold
      }
    }

    &-desc {
      padding-top: 5px;
      width: 100%;
      @extend .copy;
    }

    &-context {
      width: 100%;
      &-name {
        @extend .header-bold;
        text-transform: capitalize;
        display: block;
        border-bottom: 1px solid $border-color;
        margin-bottom: 10px;
        padding-bottom: 10px;
        [dir=rtl] & {
          font-weight: bold
        }
      }
      &-details {
        display: flex;
        padding: 5px;
        margin-top: 3px;
        margin-bottom: 5px;
        &-info {
          display: inline-block;
          width: 50%;
          @include padding-right(15px);
          &-score, &-title {
            display: block;
            text-align: center;
          }
          &-score {
            @extend .header-regular;
          }
          &-title {
            color: $font-grey;
            text-transform: uppercase;
            padding-top: 3px;
            @extend .copy-small;
          }
        }
      }

      &-section {
        padding-top: 11px;
      }
    }

    &-category {
      width: 100%;
      &-section {
        margin-top: 15px;
        &-name {
          text-transform: uppercase;
          @extend .sub-header;
        }
        &-phase {
          position: relative;
          background: $border-color;
          border-radius: 15px;
          margin-top: 2px;
          width: 98%;
          text-transform: capitalize;
          @extend .copy-small;
          &:before {
            content: '';
            color: $black;
            position: absolute;
            overflow: hidden;
            top: 1px;
            z-index: 1;
            @include text-align(right);
            @include transformX(-10px);
          }

          &:after {
            content: '';
            display: block;
            height: 16px;
            width: 0;
            border-radius: 15px;
            background-color: $na;
            position: relative;
            overflow: hidden;
          }

          &[value="1"]::after, &[value="1"]::before {
            width: 20%;
          }
          &[value="2"]::after, &[value="2"]::before {
            width: 40%;
          }
          &[value="3"]::after, &[value="3"]::before {
            width: 60%;
          }
          &[value="4"]::after, &[value="4"]::before {
            width: 80%;
          }
          &[value="5"]::after, &[value="5"]::before {
            width: 100%;
          }
          &[value="1"]::before {
            content: attr(data-phase);
            @include transformX(-7px);

          }
          &[value="2"]::before {
            content: attr(data-phase);
          }
          &[value="3"]::before {
            content: attr(data-phase);
          }
          &[value="4"]::before {
            content: attr(data-phase);
          }
          &[value="5"]::before {
            content: attr(data-phase);
          }
          &.phase1::after {
            background-color: $score1;
          }
          &.phase2::after {
            background-color: $score2;
          }
          &.phase3::after {
            background-color: $score3;
          }
          &.phase4::after {
            background-color: $score4;
          }
          &.phase5::after {
            background-color: $score5;
          }
        }
      }
    }
  }

  &-button {
    margin-top: 10px;
  }
  .show {
    width: 100%;
  }
  .button-container {
    position: absolute;
    bottom: 0;
    background: $white;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin: 0px;
    .btn {
      display: inline-block;
      margin: 0px;
    }
  }
}
@media screen and (min-width: 1640px) {
  .indicator-panel {
    top: 40px;
  }
}
