@import "./../../rtl-support";

.indicator-panel {
  background: white;
  width: 100%;
  min-height: 25vh;

  @extend .box-shadow, .copy;
  border-radius: 5px;
  z-index: 2;
  //height: auto;
  overflow-y: hidden;
  overflow-x: hidden;

  &-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 90px;
    @include padding-left(0.8vw);
    //z-index: 2;
    //font-size: 12px;
  }
  &-error {
    text-transform: capitalize;
    @extend .copy;
    color: $negative;
    margin-top: 10px;
    text-align: left;
  }

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: calc(100% - 90px);
    padding: 0px 15px;
    overflow-y: auto;
    margin-bottom: 15px;
    &-expand-btn {
      cursor: pointer;
      font-size: 35px;
      color: #666666;
    }

    &-name {
      position: relative;
      text-transform: none;
      width: 100%;
      @extend .header-bold;

      [dir="rtl"] & {
        font-weight: bold;
      }
    }

    &-desc {
      padding-top: 5px;
      width: 100%;
      @extend .copy;
    }

    &-category {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;

      &-section {
        width: 20vw;
        margin-top: 15px;
        @include margin-right(2.5vw);
        @include margin-left(0.5vw);

        &-name-phase-and-icon {
          text-transform: uppercase;
          height: 50px;
          @include margin-left(10px);
          @extend .sub-header;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          :first-child {
            @include margin-right(10px);
          }
          .indicator-panel-container-category-section-name-and-phase {
            display: flex;
            flex-direction: column;
            font-weight: 700;
            font-size: 14px;
            .indicator-panel-container-category-section-name-and-phase-phaseN {
              font-weight: 400;
              font-size: 12px;
              margin-top: 2px;
              text-transform: none;
              &[value="1"]::before {
                content: attr(data-phase);
                @include transformX(-7px);
              }
              &[value="2"]::before {
                content: attr(data-phase);
              }
              &[value="3"]::before {
                content: attr(data-phase);
              }
              &[value="4"]::before {
                content: attr(data-phase);
              }
              &[value="5"]::before {
                content: attr(data-phase);
              }
            }
          }
        }
        &-phase {
          position: relative;
          background: $border-color;
          margin-top: 2px;
          width: 98%;
          text-transform: capitalize;
          @extend .copy-small;
          &:before {
            content: "";
            color: $black;
            position: absolute;
            overflow: hidden;
            top: 1px;
            z-index: 1;
            @include text-align(right);
            @include transformX(-10px);
          }

          &:after {
            content: "";
            display: block;
            height: 10px;
            width: 0;
            background-color: $na;
            position: relative;
            overflow: hidden;
          }

          &[value="1"]::after,
          &[value="1"]::before {
            width: 20%;
          }
          &[value="2"]::after,
          &[value="2"]::before {
            width: 40%;
          }
          &[value="3"]::after,
          &[value="3"]::before {
            width: 60%;
          }
          &[value="4"]::after,
          &[value="4"]::before {
            width: 80%;
          }
          &[value="5"]::after,
          &[value="5"]::before {
            width: 100%;
          }
          &[value="1"]::before {
            content: attr(data-phase);
            @include transformX(-7px);
          }
          &[value="2"]::before {
            content: attr(data-phase);
          }
          &[value="3"]::before {
            content: attr(data-phase);
          }
          &[value="4"]::before {
            content: attr(data-phase);
          }
          &[value="5"]::before {
            content: attr(data-phase);
          }
          &.phase1::after {
            background-color: $score1;
          }
          &.phase2::after {
            background-color: $score2;
          }
          &.phase3::after {
            background-color: $score3;
          }
          &.phase4::after {
            background-color: $score4;
          }
          &.phase5::after {
            background-color: $score5;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1640px) {
  .indicator-panel {
    top: 40px;
  }
}
