@import "./../../rtl-support";

.map-layer {
  font-family: "InterBold", sans-serif;
  background: $bg-beige;
}
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#map {
  height: calc(100vh - 136px);
  background: $fine-gray;
}

div#reset-btn {
  top: 0;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .leaflet-overlay-pane {
    transform: translate3d(60px, 0, 0) scale(0.9);
  }
}

@media screen and (min-width: 1500px) {
  .leaflet-overlay-pane {
    transform: translate3d(-190px, -83px, 0) scale(1.25);
  }
}

.leaflet-left .leaflet-control {
  @include margin-left(351px);
  top: 3px;
  margin-top: 0;
  &.leaflet-control-attribution {
    @include margin-left(0);
    top: 20px;
  }
}

.leaflet-left {
  left: auto;
}

.leaflet-bar {
  border-radius: 0;
  border-bottom: 0;
}

@media screen and (min-width: 1640px) {
  .leaflet-top .leaflet-control {
    top: 40px;
  }
}

.leaflet-pane {
  z-index: 1;
}
.leaflet-map-pane svg {
  z-index: 2;
}
.leaflet-top,
.leaflet-bottom {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  @include margin-right(10px);
  padding-bottom: 20px;
  .leaflet-control-zoom {
    top: 0;

    .leaflet-control-zoom-in {
      height: 26.67px;
      width: 26.67px;
    }
    .leaflet-control-zoom-out {
      height: 26.67px;
      width: 26.67px;
    }
  }
}
.leaflet-control-container .leaflet-bar a {
  display: inline-block;
  @include margin-right(5px);
  line-height: 1.2;
  border-radius: 0;
}
.leaflet-control-container .leaflet-bar {
  border: none;
  box-shadow: none;
}
