@import "../../assets/stylesheets/rtl-support";
@import "../../assets/stylesheets/components/variables";
/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0px; /* Important for vertical align on mobile phones */
}

.dropDown::after {
  content: "\f0d7";
  font-family: "FontAwesome", serif;
}
.dropDown-expanded::after {
  content: "\f0d8";
  font-family: "FontAwesome", serif;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  font-size: 14px;
  font-family: inherit;
  margin-left: -15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a blue background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: $selected-menu;
}

/* Show the dropdown menu on hover of a tag CSS class*/
.hd-element:hover .dropdown-content {
  display: block;
}
.colorOnSelect {
  border-bottom: 4px solid $logo-blue;
  background: $selected-menu;
}
