@import "./../../rtl-support";

.phase-indicator {
  height: 100%;
  width: 20vw;
  @include margin-right(2.5vw);
  @include margin-left(0.5vw);

  &-header {
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
  }
}

.phase-indicator-select {
  color: $cool-gray;
  background-color: $white;
  width: 100%;
  height: 40px;
  @include padding-left(20px);
  @include padding-right(20px);
  border: $table-border;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: url("/static/img/arrowDown.svg") no-repeat;
  background-position-y: 50%;
  background-size: 15px;
}

/* IE11 hide native button */
select::-ms-expand {
  display: none;
}
