@import "./../../rtl-support";

.phase-indicator {
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;

  &-header {
    margin-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
  }
}

.phase-indicator-select {
  color: $cool-gray;
  background-color: $white;
  width: 320px;
  height: 40px;
  @include padding-left(20px);
  @include padding-right(20px);
  border: $table-border;
}
