.graph-container {
  height: var(--height);
  width: var(--width);
  overflow-x: auto;
  margin-bottom: 20px;
}
.graph > canvas {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.graph {
  position: relative;
  height: auto;
  width: 100%;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #e9e5e58d;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 10px;
  background: #ccc;
}
