@import "../../assets/stylesheets/rtl-support";

.default-year-container {
  display: flex;
  flex-direction: column;
}
.default-year {
  display: flex;
}
.text {
  font-family: "Interbold";
  height: 40px;
  width: 148px;
  left: 992px;
  top: 200px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 10px 0 10px;
  color: #0a0a0a;
}
.default-year-value {
  margin-left: 40px;
  margin-top: 10px;
  height: 40px;
  width: 160px;
  left: 1000px;
  top: 260px;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #6c757d;
}
