.footer {
  width: 100%;
  background: $cool-gray;
  color: $white;
  padding: 15px 0;
  box-sizing: border-box;
  z-index: 3;
  .footer-width {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .ft-element-pipe {
      padding: 0 20px;
  }
  .contact {
    @extend .copy-italics;
  }
}

@media print {
  .footer {
    display: none;
  }
}
