.footer {
  width: 100%;
  background: $cool-gray;
  color: $white;
  padding: 15px 0;
  box-sizing: border-box;
  z-index: 3;
  .footer-width {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .contact {
    @extend .copy-italics;
  }
}
.website-info {
  display: none;
}

@media print {
  .footer {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .contact-info {
    display: none;
  }
  .footer {
    position: fixed;
    bottom: 0;
  }
  .website-info {
    display: contents;
    font-size: 1em;
    font-weight: $regular;
    font-family: "InterItalic", sans-serif;
  }
}
