// Update variables in SCSS if changed.
#phaseNA,
.phaseNA {
  background-color: $na;
}
#phasenull,
.phasenull {
  background-color: $na;
}
#phase-1,
.phase-1 {
  background-color: $na;
}
#phase0,
.phase0 {
  background-color: $score1;
}
#phase1,
.phase1 {
  background-color: $score1;
}
#phase2,
.phase2 {
  background-color: $score2;
}
#phase3,
.phase3 {
  background-color: $score3;
}
#phase4,
.phase4 {
  background-color: $score4;
}
#phase5,
.phase5 {
  background-color: $score5;
}
