//colors
$header-grey: #606060;
$bg-beige: #f2f2e5;
$white: #fff;
$link-blue: #4a90e2;
$black: #000000;

$score1: #fcab9c;
$score2: #ffca82;
$score3: #ffe180;
$score4: #80e1cc;
$score5: #01c975;

$score-background1: #f7f8eb;
$score-background2: #f8f8f2;

$grey: #dcdcdc;
$light-grey: #f7f7f7;

$font-grey-dark: #4a4a4a;

$table-header: #444444;
$table-border: 1px solid #cccccc;

// new mockup colors
$logo-blue: #415BA3;
$cool-gray: #6c757d;
$fine-gray: #e9ecef;
$black-grey: #111111;
$body-bg: #f6f7fb;
$font-grey: #999999;
$negative: #ed4c57;
$positive: #92b35a;
$nodiff: #e7c049;
$border-color: #e4e5e9;
$autocomplete-highlight: $border-color;
$border-color-dark: #cccccc;
$na: #e9ecef;
$shadow-grey: #b2b3b6;
$margin-default: 20px;
$selected-menu: #A0ADD1;
$radio-bg: lighten($font-grey, 20%);
$regular: 400;
$bold: 700;
$disabled-grey: #ecedf0;
$disabled-grey-fg: #b2aaaa;
$gdhi-black: #0a0a0a;
$gdhi-purple-shade-1: #415ba3;
$gdhi-purple-shade-2: #a0add1;
$gdhi-light-gray: #ced4da;
$gdhi-orange-shade1: #FF9505;
