//colors
$header-grey: #606060;
$bg-beige: #f2f2e5;
$white: #fff;
$link-blue: #4A90E2;
$black: #000000;


$score1: #FCAB9C;
$score2: #FFCA82;
$score3: #FFE180;
$score4: #80E1CC;
$score5: #01C975;

$score-background1: #F7F8EB;
$score-background2: #F8F8F2;

$grey: #dcdcdc;
$light-grey: #f7f7f7;

$font-grey-dark: #4a4a4a;


$table-header: #444444;
$table-border: 1px solid #CCCCCC;


// new mockup colors
$logo-blue: #3F4D7D;
$cool-gray: #6C757D;
$black-grey: #111111;
$body-bg: #f6f7fb;
$font-grey: #999999;
$negative: #ed4c57;
$positive: #92b35a;
$nodiff: #e7c049;
$border-color: #e4e5e9;
$autocomplete-highlight: $border-color;
$border-color-dark: #CCCCCC;
$na: #E9ECEF;
$shadow-grey: #b2b3b6;
$margin-default: 20px;
$selected-menu: #f5f7ff;
$radio-bg: lighten($font-grey, 20%);
$regular: 400;
$bold: 700;
