@import "../../assets/stylesheets/components/variables";
.region-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  /* Africa Regional Overview */
  margin: 20px;

  /* GDHI H1 - Regular 36 */
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #0a0a0a;
}

.region-year-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 10px;
}

.error {
  text-transform: capitalize;
  color: $negative;
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}
