@font-face {
  font-family: "RobotoSlabBold";
  src: url("@/assets/fonts/RobotoSlab-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("@/assets/fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("@/assets/fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBoldItalic";
  src: url("@/assets/fonts/Roboto-BoldItalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoItalic";
  src: url("@/assets/fonts/Roboto-Italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
