@font-face {
  font-family: "InterRegular";
  src: url("@/assets/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterBold";
  src: url("@/assets/fonts/Inter-Bold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "InterItalic";
  src: url("@/assets/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

// Font Faces which might be used in the future
//@font-face {
//  font-family: "InterExtraBold";
//  src: url("@/assets/fonts/Inter-ExtraBold.ttf") format("ttf");
//  font-weight: bold;
//  font-style: normal;
//}

//@font-face {
//  font-family: "RobotoBoldItalic";
//  src: url("@/assets/fonts/Roboto-BoldItalic-webfont.woff") format("woff");
//  font-weight: normal;
//  font-style: normal;
//}
